.menu{
    
    margin-bottom: -15px;
    width: 120px;
    background: #569099;
    padding: 6px;
    
    
      
}
.menu2{   
    
    margin-bottom: -15px;
    width: 120px;
    background: #569099;
    padding: 6px;
    
}
.menu3 {
    margin-bottom: -15px;
    width: 120px;
    background: #569099;
    padding: 6px;

}    
.menu4{
    margin-bottom: -15px;
    width: 120px;
    background: #569099;
    padding: 6px;
    
      
}
.menu5{   
    margin-bottom: -15px;
    width: 120px;
    background: #569099;
    padding: 6px;
    
}
.menu6 {
    margin-bottom: -15px;
    width: 120px;
    background: #569099;
    padding: 6px;
    
}
.menu7 {
    margin-bottom: -15px;
    width: 120px;
    background: #569099;
    padding: 6px;
    
}
.a{
    text-decoration: none;
}

